spring:
  application:
    name: projectjwtapplication

  datasource:
    url: jdbc:postgresql://db:5432/projectjwtapplication
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate   # em produção, prefira 'validate' + migrações (Flyway)
    properties:
      hibernate:
        format_sql: true
        show_sql: false

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO